= link_to (language_path(language.id)) do
  .language__detail__box
    .language__detail__box__day
      = language.day
      = language.study.name
      = language.name.name
    .language__detail__box__image
      = image_tag("#{language.images.first.image}", size: "1000x500")
    .language__detail__box__tittle
      = language.tittle