.language__detail
  - @languages.each do |language|
    = link_to (language_path(language.id)) do
      -# - if language.name_id == 1
      .language__detail__box
        .language__detail__box__day
          = language.day
          = language.study.name
          = language.name.name
        .language__detail__box__tittle
          = language.tittle
.back-btn
  = link_to 'もどる', root_path, class: 'back-btn'