.language__detail
  %ul.menu
    %li
      %a#about.btn.active HTML&CSS
    %li
      %a#service.btn Ruby
    %li
      %a#contact.btn JavaScript
    %li
      %a#about.btn.active PHP
    %li
      %a#service.btn Java
    %li
      %a#contact.btn C
    %li
      %a#about.btn.active Python
    %li
      %a#service.btn other
  %ul.contents
    %li.content.show
      - @html.each do |language|
        = render partial: "language", locals: { language: language }
    %li.content
      - @ruby.each do |language|
        = render partial: "language", locals: { language: language }
    %li.content
      - @javascript.each do |language|
        = render partial: "language", locals: { language: language }
    %li.content
      - @php.each do |language|
        = render partial: "language", locals: { language: language }
    %li.content
      - @java.each do |language|
        = render partial: "language", locals: { language: language }
    %li.content
      - @c.each do |language|
        = render partial: "language", locals: { language: language }
    %li.content
      - @python.each do |language|
        = render partial: "language", locals: { language: language }
    %li.content
      - @other.each do |language|
        = render partial: "language", locals: { language: language }
.back-btn
  = link_to 'もどる', root_path