.language__page
  = form_with(model: @language, local: true) do |f|
    .language__tittle
      = '本日学んだ言語をアウトプットしよう!!!'
    .language__pagebox
      .language__tittlebox
        %label
          = 'タイトル'
          %span.require 必須
        %div.tittle
          = f.text_field :tittle, class: 'tittle-field', required: "" , placeholder: 'タイトル(必須 40文字まで)'
      .language__selectbox
        .language__selectbox__language
          %label
            = '言語の種類'
            %span.require 必須
          %div.select-box.box
            = f.collection_select :name_id, Name.all, :id, :name, {prompt: "---"},{required: "" }
        .language__selectbox__day
          %label
            = '日付'
            %span.require 必須
          %div
            = f.date_field :day, class: 'day', required: "" , placeholder: '日付(例: 2020/02/02)'
        .language__selectbox__study
          %label
            = '学習時間'
            %span.require 必須
          %div.select-box.box
            = f.collection_select :study_id, Study.all, :id, :name, {prompt: "---"},{required: "" }
      .language__imagebox
        %label
          = '画像'
          %span.require 必須
        #image-box-1
          .image_box-0#box
            = f.fields_for :images do |i|
              .input-area 
                = i.file_field :image, type: 'file', name: "language[images_attributes][][image]", value: '', style: 'display:none', id: 'img-file'
                %label{for: 'img-file'}
                  = icon('fas', 'camera')
      .language__contentbox
        .contentbox__tittle
          %label
            = '学習内容'
            %span.require 必須
          .preview__btn
            .btn#markdown.disabled markdown
            .btn#preview Preview
        #preview-area
        .language__content
          = f.text_area :content, class: 'text_box', required: "" , placeholder: "マークダウン記法で入力 例) ![画像名](http://画像のURL)", id: "md-textarea"
      .language__btn
        = f.submit '投稿する', class: 'form-btn'
        .back-btn
          = link_to 'もどる', root_path