.nest
  .language__detail
    .language__detail__box
      .language__detail__box__day
        = "#{@language.day}"
        = "#{@language.study.name}"
        = "#{@language.name.name}"
      .language__detail__box__tittle
        = "#{@language.tittle}"
      .language__detail__box__image
        = image_tag("#{@language.images.first.image}", size: "1000x500", class: "js-main-image")
      .language__detail__box__imagebox
        - @images.each do |i|
          = image_tag i.image.to_s, size: "200x150", class: "js-sub-image"
      .language__detail__box__content
        = markdown("#{@language.content}").html_safe
    .back-btn
      = link_to '???', languages_path