.header
  .header__box
    .header__box__tittle
      = link_to "Skill-up_Language", root_path
    .modal.js-modal
      .modal__bg.js-modal-close
      .modal__content
        = form_tag(search_languages_path, method: 'get') do
          = text_field_tag :keyword, "", class: 'search-input', placeholder:"タイトルを検索"
          .model__show.row
          = submit_tag '検索', class: 'submit'
        %a.js-modal-close{href: ""} もどる
.header__bottom
  .header__bottom__box
    .user__detail
      .user__detail__box
        - if user_signed_in?
          .detail-box
            .user__image
            -# = image_tag("images/IMG_4775.JPG", size: "200x200", class: 'user__image')
            .user-box
              .user__name
                = current_user.name
              = link_to 'Mypage', '#', class: "user-btn"
              = link_to 'Logout', destroy_user_session_path, method: :delete, class: "user-btn"
        - else
          .detail-box
            .user-box
              = link_to "sign-up", new_user_registration_path, class: "user-btn"
              = link_to "Login", new_user_session_path, class: "user-btn"
    .user__box
      .user__box__btn
        = icon('fas', 'search-plus')
      - if user_signed_in?
        .user__box__btn
          = link_to icon('far', 'paper-plane'), new_language_path
        .user__box__btn
          = link_to icon('fas', 'book'), languages_path
      - else
      .user__box__btn
        = icon('far', 'user')