.header
  .header__box
    .header__box__tittle
      = link_to "Skill-up-Language", root_path
    .header__box__user
      - if user_signed_in?
      - else
        = form_for(:user, url: user_session_path) do |f|
          = f.hidden_field :email, value: 'sample@gmail.com'
          = f.hidden_field :password, value: 'test327'
          = f.hidden_field :name, value: 'testさん'
          = f.submit 'テストログイン', class: 'test'
        .signup-btn
          = "新規登録"
        .login-btn
          = "ログイン"
    .signupmodal.js-signup
      .modal__bg.js-signup-close
      .signup__content
        = render partial: "devise/registrations/signup"
        %a.js-signup-close{href: ""} もどる
    .loginmodal.js-login
      .modal__bg.js-login-close
      .login__content
        = render partial: "devise/registrations/new"
        %a.js-login-close{href: ""} もどる
    .modal.js-modal
      .modal__bg.js-modal-close
      .modal__content
        = form_tag(search_languages_path, method: 'get') do
          = text_field_tag :keyword, "", class: 'search-input', placeholder:"タイトルを検索"
          .model__show.row
          = submit_tag '全てを確認する', class: 'submit'
        %a.js-modal-close{href: ""} もどる
.header__bottom
  .header__bottom__box
    .user__detail
      .user__detail__box
        - if user_signed_in?
          .detail-box
            .user__image
            -# = image_tag("images/IMG_4775.JPG", size: "200x200", class: 'user__image')
            .user-box
              .user__name
                = current_user.name
              = link_to 'Mypage', user_path(current_user.id), class: "user-btn"
              = link_to 'Logout', destroy_user_session_path, method: :delete, class: "user-btn"
        - else
          .detail-box
            .user-box
              = link_to "sign-up", new_user_registration_path, class: "user-btn"
              = link_to "Login", new_user_session_path, class: "user-btn"
    .user__box
      .user__box__btn
        = icon('fas', 'search-plus')
      - if user_signed_in?
        .user__box__btn
          = link_to icon('far', 'paper-plane'), new_language_path
        .user__box__btn
          = link_to icon('fas', 'book'), languages_path
        .user__box__btn
          = icon('far', 'user')
      - else