.side__box
  .button
  .side
    .side__bar
      .side__bar__box
        = icon('far', 'user')
      .side__user
        - if user_signed_in?
          .user__name
            = current_user.name
          .logout
          = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn"
        - else
          .sign-up
            = link_to "新規会員登録", new_user_registration_path, class: "btn"
          .login
            = link_to "ログイン", new_user_session_path, class: "btn"
      .side__bar__box1
        = icon('fas', 'search-plus')
      .side__bar__box2
        = link_to "new", new_language_path
      -# .side__search
      -#   = text_field_tag :search, "", class: 'input-box__text', placeholder:"何かお探しですか？"
  -# .side__user
  -#   .user__name
  -#     = "名前"
  -#   .logout
  -#     = "ログアウト"